{% extends 'todo/todo_base.html' %}
{% load extra_tags %}
{% load static %}

{% block content %}

{% for lst in card_list %}

	{% if lst.user.id == request.user.id %}

	<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
	    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
	        <img class="article-image" src="{% static 'images/logo.png' %}" border="0" alt="">
	    </div>
	    <div class="mdl-cell mdl-cell--8-col">
	        <h2 class="mdl-card__title-text">
	            <a href='{% url 'todo:todo_lists' %}'>{{ lst.todo_name }}</a>
	        </h2><br />

	        {% for card in cards %}

	        <div class="mdl-card__supporting-text padding-top mdl-card mdl-shadow--4dp">
	            <span>
	            	<h2 class="mdl-card__title-text">
					&nbsp{{ card.card_name | title }}</br>
					</h2>

					<p>
					&nbsp{{ card.description }}</br>
					&nbsp<a href='{% url 'todo:update_card' card.id|hash_id %}'>Update</a>&nbsp
					&nbsp<a href='{% url 'todo:move_card' card.id|hash_id %}'>Move</a>
					</p>
	            </span>
	        </div>

		        {% for item in items %}
		        <br />
		        <div class="mdl-card__supporting-text mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp portfolio-blog-card-full-bg "><br />
		            <p>
		            	{{ item.item_name | title }}<br />
						{{ item.item_description }}<br />
						{{ item.status | title }}<br />
						Done: {% if item.is_done %} Yes {% else %} No {% endif %}<br />
		            </p>
		            <span>
						<a href='{% url 'todo:update_item' item.id|hash_id %}'>Update</a><br />
						<br />
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href='{% url 'todo:new_item' card.id|hash_id %}'>Add item</a>
		            </span>
		        </div>
		        
		        {% empty %}

		        	<div class="mdl-card__supporting-text mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp portfolio-blog-card-full-bg "><br />
			            <p>
			            	No items found.
			            </p>
			            <span>
							{% if not items %}
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href='{% url 'todo:new_item' card.id|hash_id %}'>+ item</a>
							{% endif %}
			            </span>
			        </div>					

				{% endfor %}

			{% empty%}

				<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
				    <div class="mdl-cell mdl-cell--8-col">
				        <h2 class="mdl-card__title-text">
				            No cards found.
				        </h2>
				    </div>
				</div>

			{% endfor %}
			{% endif %}

	    </div>
	</div>

{% empty %}

	<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
	    <div class="mdl-cell mdl-cell--8-col">
	        <h2 class="mdl-card__title-text">
	            No cards found.
	        </h2>
	    </div>
	</div>

{% endfor %}

{% endblock %}