{% extends 'todo/todo_base.html' %}
{% load extra_tags %}
{% load static %}

{% block content %}

{% for lst in card_list %}

	{% if lst.user.id == request.user.id %}

	<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
	    <div class="mdl-cell mdl-cell--8-col mdl-card">
	    	<div class="mdl-card__title">
		        <h2 class="mdl-card__title-text">
		            <a  style="text-decoration: none; color: rgb(63,81,181);" href='{% url 'todo:todo_lists' %}'>
		            	{{ lst.todo_name }}
		            </a>
		        </h2>
		    </div>

	        {% for card in cards %}

	        <div class="mdl-card__supporting-text padding-top mdl-card">
	            <span>
	            	<div class="mdl-card__title">
		            	<h2 class="mdl-card__title-text">
						&nbsp{{ card.card_name | title }}</br>
						</h2>
					</div>

					<div class="mdl-card__supporting-text padding-top mdl-card">

						<ul class="demo-list-item mdl-list">
						  <li class="mdl-list__item">
						    <span class="mdl-list__item-primary-content">
						      {{ card.description }}
						    </span>
						  </li>
						  <li class="mdl-list__item">
						    <span class="mdl-list__item-primary-content">
						      	<button type="button" class="mdl-chip">
									<a style="text-decoration: none; color: rgb(63,81,181);" href='{% url 'todo:update_card' card.id|hash_id %}'>
								    	<span class="mdl-chip__text">Update</span>
								    </a>
								</button>&nbsp;
								<button type="button" class="mdl-chip">
									<a style="text-decoration: none; color: rgb(63,81,181);" href='{% url 'todo:move_card' card.id|hash_id %}'>
								    	<span class="mdl-chip__text">Move</span>
								    </a>
								</button>
						    </span>
						  </li>
						</ul>
						  
					</div>
	            </span>
	        </div>

	    </div>
	</div>

		        {% for item in items %}


		        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
			        <div class="mdl-card__title ">
			            <h2 class="mdl-card__title-text">
				            {{ item.item_name | title }}
				        </h2>
			        </div>

			        <div class="mdl-card__supporting-text">

						<ul class="demo-list-item mdl-list">

							  <li class="mdl-list__item">
							    <span class="mdl-list__item-primary-content">
							      	{{ item.item_description }}
							    </span>
							  </li>
							  <li class="mdl-list__item">
							    <span class="mdl-list__item-primary-content">
							      	{{ item.status | title }}
							    </span>
							  </li>
							  <li class="mdl-list__item">
							    <span class="mdl-list__item-primary-content">
							      	Done: {% if item.is_done %} Yes {% else %} No {% endif %}
							    </span>
							  </li>
						</ul>
			        </div>

			        <div class="mdl-card__actions mdl-card--border">
			            <span class="mdl-list__item-primary-content">
			            	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='{% url 'todo:update_item' item.id|hash_id %}'>update</a>
			            </span>
			        </div>

			    </div>

			    {% empty %}

			    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
			        <div class="mdl-card__title ">
			            <h2 class="mdl-card__title-text">
				            {{ item.item_name | title }}
				        </h2>
			        </div>

			        <div class="mdl-card__supporting-text">

						<ul class="demo-list-item mdl-list">

							  <li class="mdl-list__item">
							    <span class="mdl-list__item-primary-content">
							      	No items in this card.
							    </span>
							  </li>

					        <li class="mdl-list__item">
							    <span class="mdl-list__item-primary-content">
							      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='{% url 'todo:new_item' card.id|hash_id %}'>+</a> item.
							    </span>
							</li>
						</ul>
			        </div>
			    </div>

			    {% endfor %}

			    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
			        <div class="mdl-card__title ">
			            <h2 class="mdl-card__title-text">
				            Add item.
				        </h2>
			        </div>

			        <div class="mdl-card__supporting-text">

						<span class="mdl-list__item-primary-content">
					      Create card items!
					    </span>
			        </div>

			        <div class="mdl-card__actions mdl-card--border">
			            <span class="mdl-list__item-primary-content">
			            	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='{% url 'todo:new_item' card.id|hash_id %}'>+ item.</a>
			            </span>
			        </div>

			    </div>



			{% empty %}

			<div class="mdl-card__supporting-text padding-top mdl-card">
	            <span>
	            	<div class="mdl-card__title">
		            	<h2 class="mdl-card__title-text">
						No cards found.
						</h2>
					</div>

					<div class="mdl-card__supporting-text">
					    <span class="mdl-list__item-primary-content">
					      Create more Cards and add more items!
					    </span>
				    </div>

				    <div class="mdl-card__actions mdl-card--border">
				        <span class="mdl-list__item-primary-content">
				        	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'todo:new_list' %}">+</a> list.
				        </span>
				    </div>
				</span>
			</div>
		</div>
	</div>


			{% endfor %}

			{% endif %}

{% empty %}

	<div class="mdl-card__supporting-text padding-top mdl-card">
        <span>
        	<div class="mdl-card__title">
            	<h2 class="mdl-card__title-text">
				No cards found.
				</h2>
			</div>
		</span>
	</div>

{% endfor %}

{% endblock %}