{% extends 'todo/todo_base.html' %}

{% block content %}

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">
                {% if 'update' in request.path %} Update {% endif %}
                {% if 'move' in request.path %} Move {% endif %}
                {% if 'new' in request.path %} New {% endif %}
            </h2>
        </div>
        <div class="mdl-card__supporting-text padding-top">
            <form action="" method="post" class="">
				{% csrf_token %}
				{{ form.as_p }}
                {% if 'move' in request.path %} 
                <input type='hidden' value={{ card.id }} name='card_id'>
                {% endif %}
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                    {% if 'update' in request.path %} Update {% endif %}
                    {% if 'move' in request.path %} Move {% endif %}
                    {% if 'new' in request.path %} Create {% endif %}
                </button>
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#" onclick="window.history.back(); return false;" title="Cancel" class="btn-floating waves-effect waves-light red">Cancel</a>
			</form>
        </div>
    </div>
</div>

{% endblock %}