{% extends 'todo/todo_base.html' %}
{% load extra_tags %}
{% load static %}

{% block content %}

{% for todo in todo_lists %}
	
	{% if todo.user.id == request.user.id %}

	<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
        <div class="mdl-card__title ">
            <h2 class="mdl-card__title-text">
	            {{ todo.todo_name }} 
	        </h2>
        </div>

        <div class="mdl-card__supporting-text">

			<ul class="demo-list-item mdl-list">

	        	{% for card in todo.card.all %}

				  <li class="mdl-list__item">
				    <span class="mdl-list__item-primary-content">
				      <a class="mdl-typography--font-light mdl-typography--text-uppercase" style="text-decoration: none; color: rgb(63,81,181);" href='{% url 'todo:cards' card.id|hash_id %}'>{{ card.card_name | title }}</a></ br>
				    </span>
				  </li>

		        {% empty %}

			        <li class="mdl-list__item">
					    <span class="mdl-list__item-primary-content">
						No cards in this list.
						</span>
				  	</li>

		        {% endfor %}

		        <li class="mdl-list__item">
				    <span class="mdl-list__item-primary-content">
				      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='{% url 'todo:new_card' todo.id|hash_id %}'>+</a> card.
				    </span>
				</li>
			</ul>
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <span class="mdl-list__item-primary-content">
            	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='{% url 'todo:update_list' todo.id|hash_id %}'>update</a>
            </span>
        </div>

    </div>

	{% endif %}

{% empty %}

	<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
	    <div class="mdl-card__title ">
	        <h2 class="mdl-card__title-text">
	            You have not created any lists.
	        </h2>
	    </div>

	    <div class="mdl-card__supporting-text">
		    <span class="mdl-list__item-primary-content">
		      Create more ToDo lists and add more reading cards!
		    </span>
	    </div>

	    <div class="mdl-card__actions mdl-card--border">
	        <span class="mdl-list__item-primary-content">
	        	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'todo:new_list' %}">+</a> list.
	        </span>
	    </div>

	</div>

{% endfor %}

{% if todo_lists %}

<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
    <div class="mdl-card__title ">
        <h2 class="mdl-card__title-text">
            Add list.
        </h2>
    </div>

    <div class="mdl-card__supporting-text">
	    <span class="mdl-list__item-primary-content">
	      Create ToDo lists and add more reading cards!
	    </span>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="mdl-card__actions mdl-card--border">
        <span class="mdl-list__item-primary-content">
        	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'todo:new_list' %}">+</a> list.
        </span>
    </div>

</div>

{% endif %}

{% endblock %}