{% extends 'reg/base.html' %}
{% load extra_tags %}
{% load static %}

{% block content %}
<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
        <img class="article-image" src="{% static 'images/aswa.jpg' %}" border="0" alt="">
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">
            Aswa Paul
        </h2>
        <div class="mdl-card__supporting-text padding-top">
            <span>
                System Administrator
            </span>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <span>
            	<a href="https://github.com/giantas" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
        <img class="article-image" src="{% static 'images/maris.jpg' %}" border="0" alt="">
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">
            Stellamaris Njage
        </h2>
        <div class="mdl-card__supporting-text padding-top">
            <span>
                Research Analyst
            </span>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <span>
                <a href="https://github.com/stlmaris123" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
        <img class="article-image" src="{% static 'images/charles.jpg' %}" border="0" alt="">
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">
            Charles Mwangi
        </h2>
        <div class="mdl-card__supporting-text padding-top">
            <span>
                Community Librarian
            </span>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <span>
                <a href="https://github.com/mwangicharles" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
        <img class="article-image" src="{% static 'images/reg.jpg' %}" border="0" alt="">
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">
            Regina Kamanthe
        </h2>
        <div class="mdl-card__supporting-text padding-top">
            <span>
                Community Librarian
            </span>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <span>
                <a href="https://github.com/rkmaria" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
</div>

{% endblock %}