{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Auth Demo</title>
                <!-- Core CSS - Include with every page -->
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Registration</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            {% if request.user.is_authenticated %}
                                                {{ request.user | title }}
                                            {% else %}
                                            Account
                                            {% endif %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'reg:home' %}">Home</a>
                                            </li>
                                            {% if request.user.is_authenticated  %}
                                            <li>
                                                <a href="{% url 'reg:edit_user' request.user.id %}">Profile</a>
                                            </li>
                                            {% endif %}
                                            {% if not request.user.is_authenticated %}
                                            <li>
                                                <a href="{% url 'reg:register' %}">Register</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'reg:login' %}">Login</a>
                                            </li>
                                            {% endif %}
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">Edit Profile</a>
                                            </li>
                                            <li class="divider"></li>
                                            {% if request.user.is_authenticated %}
                                            <li>
                                                <a href="{% url 'reg:logout' %}">Logout</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                {% block content %}
                {% endblock %}


                    <!-- Core Scripts - Include with every page -->
                    {% include 'material/includes/material_css.html' %}
                    <script src = "{% static 'material/js/jquery-2.2.0.js' %}"></script>
                    {% include 'material/includes/material_js.html' %}
        {% block javascript %}
        {% endblock %}


            </body>
        </html>