{% extends 'reg/base.html' %}

{% block content%}

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">
            Create account
        </h2>
        <div class="mdl-card__supporting-text padding-top">
            <form action="" method="post" class="">
                {% csrf_token %}
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    <br />
                {% endfor %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.first_name }}
                    <label class="mdl-textfield__label" for="{{ form.first_name.id_for_label }}">First Name</label>
                </div>
                <br />
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.last_name }}
                    <label class="mdl-textfield__label" for="{{ form.last_name.id_for_label }}">Last Name</label>
                </div>
                <br />
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.username }}
                    <label class="mdl-textfield__label" for="{{ form.username.id_for_label }}">Username</label>
                </div>
                <br />
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.email }}
                    <label class="mdl-textfield__label" for="{{ form.email.id_for_label }}">Email</label>
                </div>
                <br />
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.password1 }}
                    <label class="mdl-textfield__label" for="{{ form.password1.id_for_label }}">Password</label>
                </div>
                <br />
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.password2 }}
                    <label class="mdl-textfield__label" for="{{ form.password2.id_for_label }}">Confirm Password</label>
                </div>
                <br />
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.captcha }}
                    <label class="mdl-textfield__label" for="{{ form.captcha.id_for_label }}">Captcha</label>
                </div>
                <br />
                <br />
                <p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                    Register
                </button>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#" onclick="window.history.back(); return false;" title="Cancel">Cancel</a>
                </p>
            </form>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <hr />
            <span>
                Or <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'reg:login' %}">Login</a>
            </span>
        </div>
    </div>
</div>

{%endblock%}