{% extends 'reg/base.html' %}

{% block content%}

<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
    <div class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-card__title-text">
            Create account
        </h2>
        <div class="mdl-card__supporting-text padding-top">
            <form action="" method="post" class="">
                {% csrf_token %}
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    <br />
                {% endfor %}
                {{ form.as_p }}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                    Register
                </button>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#" onclick="window.history.back(); return false;" title="Cancel">Cancel</a>
            </form>
        </div>
        <div class="mdl-card__supporting-text no-left-padding">
            <hr />
            <span>
                Or <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'reg:login' %}">Login</a>
            </span>
        </div>
    </div>
</div>

{%endblock%}